@import "fonts"
@import "default"
@import "header"
@import "main-block"

.sidebar
  flex-basis: 30%
  .sidebar-content
    .sidebar-search
      background-color: #403f46
      padding: 20px 50px
      form
        input
          width: 100%
          border: none
          border-radius: 20px
          padding: 5px 60px 5px 20px
          background-color: #f6f6f6
          font: normal 18px/18px "Century Gothic"
          color: #403f46
          outline: none












